<!DOCTYPE html>
<html>
  <head>
    <title>Fortune</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Fortune</h1>
    <p>Welcome to Fortune</p>
    <p><a href="/add">Write your fortune</a></p>
    <p><a href="/famous">Voir les 30 famous</a></p>
    <p><a href="/login">Se connecter</a></p>
    <br>
    <%= fortunes.length %>
    <% if(fortunes.length > 0){ %>
        <% for(var i=0; i<fortunes.length;i++) { %>
          <ul>
            <td><%= fortunes[i]._id%></td>
            <td><%= fortunes[i].content%></td>
            <td><%= fortunes[i].user_id%></td>
            <td><%= fortunes[i].score %></td>
          </ul>
        <% } %>
    <% } else { %>
      <div>No employees found.</div>
    <% } %>
    <ul>
    </ul>
  </body>
</html>
