<%- include header.ejs %>
<br>
<br>
<br>
<form method="get" action="/polls/add">
  <button class="btn btn-outline-primary my-8 my-sm-8" type="submit">
    {% csrf_token %}
    Écris ta fortune !
  </button>
</form>
    <h5>Voici le TOP 30</h5>
    <% if(fortunes.length > 0){ %>
        <% for(var i=0; i<fortunes.length;i++) { %>
          <div class="container">
            <div class="row">
              <div class="col-lg-3"></div>
              <div class="col-lg-6">
              <div class="card card-outline-secondary my-4">
                <div class="card-header">
                Fortune
                </div>
                <div class="card-body">
                  <p><%= fortunes[i].content%></p>
                  <small class="text-muted">Posté par <font size="3">Anonymous</font>
                    on <%=fortunes[i].created_at%></small>
                  <hr>
                  <nav class="navbar navbar-light bg-faded">
                    <span class="badge badge-secondary"><%=fortunes[i].score%></span>
                    <form action="/upvote/<%= fortunes[i]._id %>" method="post">
                      <Button class="btn btn-outline-success my-2 my-sm-0" type="submit">+1</button>
                    </form>
                    <form action="/downvote/<%= fortunes[i]._id %>" method="post">
                      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">-1</button>
                    </form>
                </nav>
                </div>
              </div>
              </div>
        <% } %>
    <% } else { %>
      <div>No employees found.</div>
    <% } %>
    <ul>
    </ul>
